[Unit]
Description=LND Node Health Dashboard
Requires=network-online.target
After=network-online.target lnd.service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/ln-operator/dashboard
ExecStart=/home/pi/ln-operator/venv/bin/python3 /home/pi/ln-operator/dashboard/app.py
Restart=always
RestartSec=30
Environment=HOME=/home/pi
EnvironmentFile=/home/pi/ln-operator/.env

[Install]
WantedBy=multi-user.target
